<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=us-ascii">
	<title></title>
</head>
<body>
<div ng-controller="edaysController">
<main>
<h2>Grainger Engineering Days</h2>

<h3>About</h3>

<p>Grainger Engineering Days are one of the best ways for prospective engineering students to see what being an engineer is all about. The University of Illinois and Engineering Council would like to invite you to attend the next program!</p>

<p>As a high school student, you have probably begun to consider different majors of study and which school to attend after graduation. Grainger Engineering Days can begin to help the questions that you have as you start thinking about a career in engineering.</p>

<p>We are very excited to bring back in-person E-Days this year while continuing our virtual seminars to accomodate those who cannot travel to visit us on campus. You will learn about the different engineering fields, talk to current college students about life as an engineering student, and get a good look at one of the nation&#39;s top rated engineering universities.</p>

<p>See the agenda 
<!-- TODO: Get grants email -->
<a href= "https://docs.google.com/document/d/1i2Lf6g6MTiMtDmQAgSofstypsXsWB_qCMTaudZeV0N0/edit?usp=sharing">here</a>. For any questions related to Grainger Engineering Day, please contact Grant Cho at sc82@illinois.edu</p>


<h3>Sign Up</h3>


<ul>
    <p><b> PROSPECTIVE STUDENTS: Registration for both in-person and virtual Grainger Engineering Days is below. </i></p>
</ul>

<ul>
    <li><a href= "https://enroll.illinois.edu/portal/grainger_eob">On-campus E-Days will be held 9:30 A.M. - 3:30 P.M. (CST) October 7th, October 21st, and November 18th</a> </li>

 <li><a href= "https://enroll.illinois.edu/portal/prospect_eng"> Virtual E-Days will be held at 7 P.M. (CST) on multiple Thursdays throughout the Fall</a> </li>
 </ul>

<!-- <ul> No admitted students yet, so no need for this
    <p><b> ADMITTED STUDENTS: Registration for both in-person and virtual Grainger Engineering Days is below. </i></p>
</ul>
    
<ul>
    <li> <a href= "https://myillini.illinois.edu/AdmittedEvents/grainger_days_admitted">On-campus E-Days will be held 9:30 A.M. - 3:30 P.M. (CST) March 4th, April 1st, and April 29th</a> </li>

    <li> <a href= "https://myillini.illinois.edu/AdmittedEvents/admitted_eng"> Virtual E-Days will be held at 7 P.M. (CST) on multiple Thursdays throughout the Spring</a> </li>

</ul> -->
    
<ul>
    <p><i> Be sure to also check out our Shadow an Engineer program, another great way to experience campus!</i></p>
</ul>
</main>
</div>
</body>
</html>