<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=us-ascii">
	<title></title>
</head>
<body>
<div ng-controller="shadowController">
<main>
<h2>Shadow an Engineer</h2>

<h3>About</h3>

<p>The Shadow an Engineer program is the Engineering Outreach Bureau&#39;s newest program. 
	It allows visiting students to spend the day with a current engineering student at the University of 
	Illinois and see what campus life is really like. Visiting students will sit in on lectures, see residence
	 halls and facilities, and most importantly, get time to talk with current students about their experiences.</p>

<p>The program will be run on an individual basis to better serve the needs of our visitors. Please fill out the below form in order to register for one of the dates.
</p>

<p>For any questions related to Shadow an Engineer, please contact Grant Cho at sc82@illinois.edu</p>
<h3>Sign Up</h3>

<p><a href="https://myillini.illinois.edu/AdmittedEvents/grainger_shadow">Shadow an Engineer Admitted Student Registration Form</a></p>

<p><a href="https://docs.google.com/document/d/1ykOqX6t8SgKOjaA3v_c91gNkuJ46R8nvw7_O9CsLaDI/edit?usp=sharing">Shadow-An-Engineer FAQ</a></p>

</main>
</div>
</body>
</html>