<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=us-ascii">
	<title></title>
</head>
<body>
<div ng-controller="toursController">
<main>
<h2>Grainger Engineering Webinars</h2>

<h3>About</h3>

<p>Grainger Engineering Webinars are hosted several times each semester. Our live webinars give 
	prospective engineers the opportunity to hear about engineering majors, academics, applications,
	 and campus life. Additionally, at the end of each session you will get the opportunity to ask current students 
	 and an engineering dean any questions you may have.</p>

<p>For any questions related to Grainger Engineering Webinars, please contact Ariya Patel at ariyabp2@illinois.edu</p>
<h3>Fall 2022 Webinars</h3>


<p>Several Thursday nights throughout the semester at 7 p.m.</p>


<p><a href="https://enroll.illinois.edu/portal/grainger_eob_virtual">Register and join the webinar here!</a></p> 

<p>Note: Link to access Webinars will open five minutes before the scheduled time and close when the session ends.</p>
</main>
</div>
</body>
</html>