<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=us-ascii">
	<title></title>
</head>
<body>
<div ng-controller="toursController">
<main>
<h2>Grainger Engineering Webinars</h2>

<h3>About</h3>

<p>Grainger Engineering Webinars are hosted three times each semester. Our live webinars give prospective engineers the opportunity to hear about engineering majors, academics, applications, and campus life. Additionally, at the end of each session you will get the opportunity to ask current students and an engineering dean any questions you may have.</p>

<p>For any questions related to Grainger Engineering Webinars, please contact Alp Aktuna at aaktuna2@illinois.edu</p>
<h3>Spring 2020 Webinars</h3>


<p><i>Wednesday, March 25th, 7:00-8:30 PM CST</i></p>
<p><i>Wednesday, April 8th, 7:00-8:30 PM CST</i></p>
<p><i>Wednesday, April 22th, 7:00-8:30 PM CST</i></p>


<p><a href="https://enroll.illinois.edu/register/?id=787c171b-fb8d-49ab-b6f0-6b1466f9e99c">Register and join the webinar here!</a></p> 
<p>If the link above did not lead you to join the webinar, please use the link below. </p>
<p><a href="https://us.bbcollab.com/collab/ui/session/guest/c25c105f7aa244d5a23a773e9a3d5608">Click here!</a></p>

<p>Note: Link to access Webinars will open five minutes before the scheduled time and close when the session ends.</p>
</main>
</div>
</body>
</html>